body {color: white;background-color: black;font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino kaku Gothic ProN', 'メイリオ', Sans-Serif;
text-align: center;}
.waku a img {border:1px solid grey;}
.waku a:active img {border:1px solid black;}
.waku:active{border:1px solid black;}
